{% extends 'manager/base.html' %}

{% block content %}
<section class="app-user-list">
  <div class="row">
      <div class="col-lg-3 col-sm-6">
          <div class="card">
              <div class="card-body d-flex align-items-center justify-content-between">
                  <div>
                      <h3 class="fw-bolder mb-75">66%</h3>
                      <span>Повторный абонемент</span>
                  </div>
                  <div class="avatar bg-light-primary p-50">
                      <span class="avatar-content">
                          <i data-feather="user" class="font-medium-4"></i>
                      </span>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-lg-3 col-sm-6">
          <div class="card">
              <div class="card-body d-flex align-items-center justify-content-between">
                  <div>
                      <h3 class="fw-bolder mb-75">108</h3>
                      <span>Купленных абонементов</span>
                  </div>
                  <div class="avatar bg-light-danger p-50">
                      <span class="avatar-content">
                          <i data-feather="user-plus" class="font-medium-4"></i>
                      </span>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-lg-3 col-sm-6">
          <div class="card">
              <div class="card-body d-flex align-items-center justify-content-between">
                  <div>
                      <h3 class="fw-bolder mb-75">85%</h3>
                      <span>Эффективность</span>
                  </div>
                  <div class="avatar bg-light-success p-50">
                      <span class="avatar-content">
                          <i data-feather="user-check" class="font-medium-4"></i>
                      </span>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-lg-3 col-sm-6">
          <div class="card">
              <div class="card-body d-flex align-items-center justify-content-between">
                  <div>
                      <h3 class="fw-bolder mb-75">13</h3>
                      <span>Отказов</span>
                  </div>
                  <div class="avatar bg-light-warning p-50">
                      <span class="avatar-content">
                          <i data-feather="user-x" class="font-medium-4"></i>
                      </span>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div>
    <ul role="tablist" class="nav nav-pills"><!---->
      <li role="presentation" class="nav-item"><a role="tab" aria-selected="true" aria-setsize="3" aria-posinset="1"
          href="/manager/users/" target="_self" class="nav-link"
          aria-controls="__BVID__2470"><svg xmlns="http://www.w3.org/2000/svg" width="16px" height="16px"
            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
            stroke-linejoin="round" class="mr-0 mr-sm-50 feather feather-user">
            <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
            <circle cx="12" cy="7" r="4"></circle>
          </svg><span class="d-none d-sm-inline">Студент</span></a></li>
      <li role="presentation" class="nav-item"><a role="tab" aria-selected="false" aria-setsize="3" aria-posinset="2"
          href="/manager/users/teacher/" target="_self" class="nav-link" aria-controls="__BVID__2526"
          tabindex="-1"><svg xmlns="http://www.w3.org/2000/svg" width="16px" height="16px"
          viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
          stroke-linejoin="round" class="mr-0 mr-sm-50 feather feather-user">
          <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
          <circle cx="12" cy="7" r="4"></circle>
          </svg><span class="d-none d-sm-inline">Учитель</span></a></li>
      <li role="presentation" class="nav-item"><a role="tab" aria-selected="false" aria-setsize="3" aria-posinset="3"
          href="/manager/users/manager/" target="_self" class="nav-link active" aria-controls="__BVID__2561"
          tabindex="-1"><svg xmlns="http://www.w3.org/2000/svg" width="16px" height="16px"
          viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
          stroke-linejoin="round" class="mr-0 mr-sm-50 feather feather-user">
          <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
          <circle cx="12" cy="7" r="4"></circle>
        </svg><span class="d-none d-sm-inline">Менеджер</span></a></li><!---->
    </ul>
  </div>
  <!-- list and filter start -->
  <div class="card">
    <div class="card-body border-bottom">
      <h4 class="card-title">Поиск &amp; Фильтр</h4>
      <div class="row">
        <div class="col-md-4 user_role">
          <label class="form-label" for="UserRole">Остаток уроков</label>
          <select id="UserRole" class="form-select text-capitalize mb-md-0 mb-2">
              <option value="">1</option>
              <option value="">2</option>
              <option value="">3</option>
              <option value="">4</option>
              <option value="">5</option>
              <option value="">6</option>
              <option value="">7</option>
              <option value="">8</option>
              <option value="">9</option>
              <option value="">10</option>
          </select>
        </div>
        <div class="col-md-4 user_plan">
          <label class="form-label" for="UserRole">Остаток баланса</label>
            <select id="UserRole" class="form-select text-capitalize mb-md-0 mb-2">
              <option value="2000 - 3000">2000 - 3000</option>
              <option value="2000 - 3000">2000 - 3000</option>
              <option value="2000 - 3000">2000 - 3000</option>
              <option value="2000 - 3000">2000 - 3000</option>
            </select> 
        </div>
        <div class="col-md-4 user_status">
            <label class="form-label" for="UserRole">Статус</label>
            <select id="UserRole" class="form-select text-capitalize mb-md-0 mb-2">
              <option value="active">Активный</option>
              <option value="active">Активный</option>
              <option value="active">Активный</option>
              <option value="active">Активный</option>
            </select> 
        </div>
      </div>
    </div>
    <div class="card-datatable table-responsive pt-0">
      <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
        <div class="d-flex justify-content-between align-items-center header-actions mx-1 row mt-75">
          <div class="col-sm-12 col-lg-4 d-flex justify-content-center justify-content-lg-start">
            <label style="margin-top: 10px; margin-right: 5px;">Поиск</label>
            <input type="search" class="form-control" placeholder="">
          </div>
          <div class="col-sm-12 col-lg-8 ps-xl-75 ps-0 mt-50" style="margin-bottom: 10px;">
              <div class="dt-action-buttons d-flex align-items-center justify-content-center justify-content-lg-end flex-lg-nowrap flex-wrap">
                  <div style="margin-right: 10px;">
                      <select class="form-select">
                          <option>Удалить выбранные</option>
                          <option>Деактивировать выбранные</option>
                      </select>
                  </div>
                  <div class="dt-buttons d-inline-flex">
                      <a href="/manager/users/create/" class="dt-button add-new btn btn-primary" tabindex="0" type="button">
                        <span>Добавить пользователя</span>
                      </a>
                  </div>
              </div>
          </div>
      </div>
        <table class="user-list-table table dataTable no-footer dtr-column" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
          <thead class="table-light">
            <tr role="row">
              <th class="sorting sorting_desc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 68.125px;" aria-sort="descending" aria-label="Name: activate to sort column ascending">
                Пользователь
              </th>
              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"style="width: 62.7778px;" aria-label="Role: activate to sort column ascending">
                Группа
              </th>
              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 63.2986px;" aria-label="Plan: activate to sort column ascending">
                Абонемент
              </th>
              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 85.6771px;" aria-label="Billing: activate to sort column ascending">
                Остаток баланса
              </th>
              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 80.7639px;" aria-label="Status: activate to sort column ascending">
                Статус
              </th>
              <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 90.5035px;" aria-label="Actions">
                Действия
              </th>
            </tr>
          </thead>
          <tbody>
            {% for student in object_list %}
              {% include 'manager/includes/user_table_item.html' %}
            {% endfor %}
          </tbody>
        </table>
        <div class="d-flex justify-content-between mx-2 row mb-1">
          <div class="col-sm-12 col-md-6">
            <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">
              <div class="dataTables_length row" id="DataTables_Table_0_length">
                <div class="col-2" style="padding-top: 8px; width: max-content;">
                  Show
                </div>
                <select class="form-select">
                  <option value="10">10</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                </select>
                <div class="col-3" style="padding-top: 8px;">
                  {{ page_obj.end_index }} of {{ page_obj.paginator.count }} entries
                </div>
              </div>
            </div>
          </div>
          <div class="col-2" style="margin-top: 10px; position: relative;">
            <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
              <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li class="paginate_button page-item previous">
                        <a href="{% url 'manager:users' %}?page={{ page_obj.previous_page_number }}"
                           class="page-link">&nbsp;</a>
                    </li>
                {% else %}
                    <li class="paginate_button page-item previous disabled">
                        <a href="#" class="page-link">&nbsp;</a>
                    </li>
                {% endif %}

                {% for i in page_obj.paginator.page_range %}
                    <li class="paginate_button page-item ">
                        <a href="#" class="page-link">{{ i }}</a></li>
                {% endfor %}
                
                {% if page_obj.has_next %}
                    <li class="paginate_button page-item next">
                        <a href="{% url 'manager:users' %}?page={{ page_obj.next_page_number }}"
                           class="page-link">&nbsp;</a>
                    </li>
                {% else %}
                    <li class="paginate_button page-item next disabled">
                        <a href="#" class="page-link">&nbsp;</a>
                    </li>
                {% endif %}
            </ul>

            </div>
          </div>
        </div>
      </div>
    </div>
</div>
  <!-- list and filter end -->
</section>
{% endblock %}