{% extends 'manager/base.html' %}
{% load static %}
{% block content %}
    <div class="card">
        <div class="card-header border-bottom">
            <h4 class="card-title">Создание пользователя </h4>
        </div>
        <div class="card-body py-2 my-25">

            <!-- header section -->
            <div class="d-flex">
                <a href="#" class="me-25">
                    <div class="avatar bg-light-primary p-50 me-1" style="width: 100px; height: 100px">
                      <span class="avatar-content" style="margin: 30% auto;">
                          <i data-feather="user" class="font-large-5"></i>
                      </span>
                    </div>
                </a>
                <!-- upload and reset button -->
                <div class="d-flex align-items-end mt-75 ms-1">
                    <div>
                        <label for="avatar"
                               class="btn btn-sm btn-primary mb-75 me-75 waves-effect waves-float waves-light">Загрузить</label>
                        <button type="button" id="account-reset"
                                class="btn btn-sm btn-outline-secondary mb-75 waves-effect">Очистить
                        </button>
                        <input form="userCreateForm" class="form-control hidden" type="file" id="avatar"
                               accept="image/png, image/jpg, image/jpeg" name="avatar">
                        <p class="mb-0">Поддерживаемые форматы: png, jpg, jpeg.</p>
                    </div>
                </div>
                <!--/ upload and reset button -->
            </div>
            <!--/ header section -->

            <!-- form -->
            <div class="d-flex mt-75">
                <h4 class="mb-0 ml-50"> Общие данные </h4>
            </div>
            <form method="post" id="userCreateForm" class="mt-75" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form }}
            </form>
            <!--/ form -->

            <!-- TOAST INFO -->
            {% if error_handlers %}
                <script type="text/javascript">
                    var error = "{{ error_handlers.args }}"
                    setTimeout(() => toastr.warning(error), 1000)
                </script>
            {% endif %}
            <!-- TOAST INFO END -->

        </div>
    </div>
{% endblock content %}

{% block js_extends %}
    <script src="{% static 'assets/js/manager_create_user_form_validation.js' %}"></script>
{% endblock %}