django
celery
redis
python-dotenv
sentry-sdk
djangorestframework
djangorestframework-simplejwt
django-crontab
django-cors-headers
drf-yasg
channels
django-filter
psycopg2-binary
python-dateutil
django-extra-fields
pillow
gunicorn