<ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
    <li class=" nav-item">
        <a class="d-flex align-items-center" href="{% url 'manager:dashboard' %}">
            <i data-feather="home"></i>
            <span class="menu-title text-truncate">Главная</span>
        </a>
    </li>
    <li class=" navigation-header"><span data-i18n="Apps &amp; Pages">Пользователи</span><i
            data-feather="more-horizontal"></i>
    </li>
    <li class=" nav-item">
        <a class="d-flex align-items-center" href="#">
            <i data-feather="user"></i>
            <span class="menu-title text-truncate" data-i18n="Email">Ученики</span>
        </a>
    </li>
    <li class=" nav-item">
        <a class="d-flex align-items-center" href="#">
            <i data-feather="user-plus"></i>
            <span class="menu-title text-truncate" data-i18n="Email">Учителя</span>
        </a>
    </li>
    <li class=" nav-item">
        <a class="d-flex align-items-center" href="#">
            <i data-feather="users"></i>
            <span class="menu-title text-truncate" data-i18n="Email">Группы</span>
        </a>
    </li>

    <li class=" navigation-header"><span data-i18n="Apps &amp; Pages">Занятия</span><i
            data-feather="more-horizontal"></i>
    </li>
    <li class=" nav-item">
        <a class="d-flex align-items-center" href="#">
            <i data-feather="book"></i>
            <span class="menu-title text-truncate" data-i18n="Email">Уроки</span>
        </a>
    </li>
    <li class=" nav-item">
        <a class="d-flex align-items-center" href="#">
            <i data-feather="calendar"></i>
            <span class="menu-title text-truncate" data-i18n="Email">Расписание</span>
        </a>
    </li>

    <li class=" navigation-header"><span data-i18n="Apps &amp; Pages">Настройки</span><i
            data-feather="more-horizontal"></i>
    </li>
    <li class=" nav-item">
        <a class="d-flex align-items-center" href="#">
            <i data-feather="bookmark"></i>
            <span class="menu-title text-truncate" data-i18n="Email">Предметы</span>
        </a>
    </li>


    <li class=" navigation-header"><span data-i18n="Apps &amp; Pages">Финансы</span><i
            data-feather="more-horizontal"></i>
    </li>
    <li class=" nav-item">
        <a class="d-flex align-items-center" href="#">
            <i data-feather="bookmark"></i>
            <span class="menu-title text-truncate" data-i18n="Email">Ставки</span>
        </a>
    </li>
    <li class=" nav-item">
        <a class="d-flex align-items-center" href="#">
            <i data-feather="plus"></i>
            <span class="menu-title text-truncate" data-i18n="Email">Поступления</span>
        </a>
    </li>
    <li class=" nav-item">
        <a class="d-flex align-items-center" href="#">
            <i data-feather="minus"></i>
            <span class="menu-title text-truncate" data-i18n="Email">Расходы</span>
        </a>
    </li>

</ul>