<div>
  <div class="modal-content">
    <div class="modal-header bg-transparent"></div>
    <div class="modal-body pb-5 px-sm-5 pt-50">
        <div class="mb-2">
            <h1 class="mb-1">Редактирование занятия</h1>
        </div>
        <form id="editScheduleForm" action="{% url 'manager:schedule_update' object.schedule.shedule.pk %}" class="row gy-1 pt-75" method="post">
          {% csrf_token %}
          <input hidden name="pk" value="{{ object.pk }}"/>
          <div class="col-12 hidden">
            {{ schedule_form.group.label_tag|cut:":" }}
            {{ schedule_form.group }}
          </div>
          <div class="col-12">
            {{ schedule_form.weekday.label_tag|cut:":" }}
            {{ schedule_form.weekday }}
          </div>
          <div class="col-12 col-md-6">
            <label>Начало урока</label>
            <input 
              value="{{ schedule_settings.lesson_start }}" 
              placeholder="Например, c 14:00"  
              name="lesson_start" 
              type="text" 
              id="fp-time" 
              class="form-control flatpickr-time text-start flatpickr-input active" readonly="readonly" required>
          </div>
          <div class="col-12 col-md-6">
            {{ schedule_form.lesson_duration.label_tag|cut:":" }}
            <input title="Смена в абонементе" value="{{ object.subscription.lesson_duration }}" type="number" name="lesson_duration" max="3600" class="form-control" required="" id="id_lesson_duration" readonly="">
          </div>
          <div class="col-12 col-md-6">
            <label>Старт</label>
            <input 
              value="{{ schedule_settings.date_start }}" 
              placeholder="Например, c 06.02.23" 
              name="date_start"
              type="text" id="fp-range" 
              class="form-control flatpickr-basic flatpickr-input active" readonly="readonly" required>
          </div>
          <div class="col-12 col-md-6">
            {{ schedule_form.count.label_tag|cut:":" }}
            <input title="Смена в абонементе" value="{{ object.subscription.lesson_count }}" type="number" name="count" max="3600" class="form-control" required="" id="id_count" readonly="">
          </div>
          <div class="col-12 col-md-6">
            {{ schedule_form.subject.label_tag|cut:":" }}
            {{ schedule_form.subject }}
          </div>
          <div class="col-12 col-md-6">
            {{ schedule_form.teacher.label_tag|cut:":" }}
            {{ schedule_form.teacher }}
          </div>
          {% if object.subscription.plan_type != object.subscription.IND %}
          <div class="col-12">
            {{ schedule_form.group.label_tag|cut:":" }}
            {{ schedule_form.group }}
          </div>
          {% endif %}
          <div class="col-12 text-center mt-2 pt-50" style="display: flex;justify-content: right;">

              <button id="submitBtnSubForm" type="submit" class="btn btn-primary me-1 waves-effect waves-float waves-light">
                Сохранить
              </button>

              <button type="reset" class="btn btn-outline-secondary waves-effect" data-bs-dismiss="modal" aria-label="Close">
                Отмена
              </button>

          </div>
      </form>
    </div>
</div>
</div>

<script>
  document.querySelector('#editScheduleForm')
    .addEventListener('change', (ev) => {
      document.querySelector('#submitBtnForm').disabled = false
      document.querySelector('#discardBtnForm').disabled = false
    })
</script>