{% comment %} createAbonement {% endcomment %}
<div class="modal fade hide" id="createAbonement" tabindex="-1" style="display: none;" aria-modal="true" role="dialog">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-edit-user">
      <div class="modal-content">
          <div class="modal-header bg-transparent">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body pb-5 px-sm-5 pt-50">
              <div class="text-center mb-2">
                  <h1 class="mb-1">Добавить абонемент</h1>
                  <p>Заполните необходимую информацию ниже</p>
              </div>
              <form id="editAbonementForm" action="{% url 'manager:sub_create' %}" class="row gy-1 pt-75" method="post">
                <input value="{{ object.pk }}" required name="pk" type="text" hidden>
                  {% csrf_token %}
                  <div class="col-12">
                      {{ subscription_form.title.label_tag|cut:":" }}
                      {{ subscription_form.title }}
                  </div>
                  <div class="col-12">
                    {{ subscription_form.plan_type.label_tag|cut:":" }}
                    {{ subscription_form.plan_type }}
                  </div>
                  <div class="col-12" id="id_billing">
                      <div style="margin-bottom: 10px;">
                        {{ subscription_form.billing.label_tag|cut:":" }}
                      </div>
                      <div style="margin-bottom: 10px;">
                        <input value="Поурочная" required name="billing" class="form-check-input" type="radio" id="inlineRadio1" checked>
                        <label class="form-check-label" for="inlineRadio1">Поурочная</label>
                      </div>
                      <div style="margin-bottom: 10px;">
                        <input value="Помесячная" required name="billing" class="form-check-input" type="radio" id="inlineRadio2">
                        <label class="form-check-label" for="inlineRadio2">Помесечная</label>
                      </div>
                      <div style="">
                        <input value="Недельная" required name="billing" class="form-check-input" type="radio" id="inlineRadio3">
                        <label class="form-check-label" for="inlineRadio3">Недельная</label>
                      </div>
                  </div>
                  <div class="col-12 col-md-6">
                      {{ subscription_form.lesson_count.label_tag|cut:":" }}
                      {{ subscription_form.lesson_count }}
                  </div>
                  <div class="col-12 col-md-6">
                      {{ subscription_form.lesson_duration.label_tag|cut:":" }}
                      {{ subscription_form.lesson_duration }}
                  </div>
                  <div class="col-12 col-md-6">
                      {{ subscription_form.lesson_cost.label_tag|cut:":" }}
                      {{ subscription_form.lesson_cost }}
                  </div>
                  <div class="col-12 col-md-6">
                      {{ subscription_form.subscription_cost.label_tag|cut:":" }}
                      {{ subscription_form.subscription_cost }}
                  </div>
                  <div class="col-12">
                    <label for="id_payment_method">Способ оплаты</label>
                    <select name="payment_method" class="form-control form-select" id="id_payment_method">
                      {% for method in payment_methods %}
                      <option value="{{ method }}" selected>{{ method }}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="col-12 mt-2 pt-50" style="display: flex;justify-content: right;">
                      <button type="submit" class="btn btn-primary me-1 waves-effect waves-float waves-light">
                        Сохранить
                      </button>
                      <button type="reset" class="btn btn-outline-secondary waves-effect" data-bs-dismiss="modal" aria-label="Close">
                          Отмена
                      </button>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>
{% comment %} createAbonement {% endcomment %}


{% comment %} Create schedule {% endcomment %}
<div class="modal fade" id="createSchedule" tabindex="-1" style="display: none;" aria-modal="true" role="dialog">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-edit-user">
      <div class="modal-content">
          <div class="modal-header bg-transparent">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body pb-5 px-sm-5 pt-50">
              <div class="text-center mb-2">
                  <h1 class="mb-1">Добавить регулярные занятия</h1>
                  <p>Заполните необходимую информацию ниже</p>
              </div>
              <form id="editScheduleForm" action="{% url 'manager:schedule_create' %}" class="row gy-1 pt-75" method="post">
                  {% csrf_token %}
                  <input hidden name="pk" value="{{ object.pk }}"/>
                  <div class="col-12">
                    {{ schedule_form.weekday.label_tag|cut:":" }}
                    {{ schedule_form.weekday }}
                  </div>
                  <div class="col-12 col-md-6">
                    <label>Начало урока</label>
                    <input placeholder="Например, c 14:00"  name="lesson_start" type="text" id="fp-time" class="form-control flatpickr-time text-start flatpickr-input active" readonly="readonly">
                  </div>
                  <div class="col-12 col-md-6">
                    {{ schedule_form.lesson_duration.label_tag|cut:":" }}
                    {{ schedule_form.lesson_duration }}
                  </div>
                  {% if object.subscription.plan_type == object.subscription.IND %}
                  <div class="col-12 col-md-6">
                    <label>Выбор Старта</label>
                    <input 
                      placeholder="Например, c 06.02.23" 
                      name="date_start"
                      type="text" id="fp-range" 
                      class="form-control flatpickr-basic flatpickr-input active" readonly="readonly" required>
                  </div>
                  {% endif %}
                  <div class="col-12 col-md-6">
                    <label>Количество уроков</label>
                    <input 
                      placeholder="Например, 4" 
                      name="lesson_count"
                      type="number"
                      class="form-control" required>
                  </div>
                  <div class="col-12 col-md-6">
                    {{ schedule_form.subject.label_tag|cut:":" }}
                    {{ schedule_form.subject }}
                  </div>
                  <div class="col-12 col-md-6">
                    {{ schedule_form.teacher.label_tag|cut:":" }}
                    <select class="form-control select2" id="id_teacher" name="teacher">

                    </select>
                  </div>
                  {% if object.subscription.plan_type != object.subscription.IND %}
                  <div class="col-12">
                    {{ schedule_form.group.label_tag|cut:":" }}
                    {{ schedule_form.group }}
                  </div>
                  <div class="col-12">
                    <span id="addGropuBtn" class="btn btn-link mb-50" style="cursor: pointer; font-size: 13px; display: flex; padding: 0">
                      <i data-feather="plus" style="margin-right: 10px; font-size: 20px" ></i> Добавить группу
                    </span>
                  </div>
                  {% endif %}
                  <div class="col-12 text-center mt-2 pt-50" style="display: flex;justify-content: right;">
                      <button id="submitBtnSubForm" type="submit" class="btn btn-primary me-1 waves-effect waves-float waves-light">
                        Сохранить
                      </button>
                      <button type="reset" class="btn btn-outline-secondary waves-effect" data-bs-dismiss="modal" aria-label="Close">
                          Отмена
                      </button>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>
{% comment %} Create schedule {% endcomment %}