<tr role="row" class="">
  <td aria-colindex="1" role="cell" class="">
    <div class="media-body align-items-center" style="display: flex;">
      <img style="border-radius: 50%; margin-right: 10px;" width="32px" height="32px" src="http://vuexy.oscarbot.ru/img/9.3fd39137.png" alt="avatar">
      <a href="/apps/users/view/50" class="font-weight-bold d-block text-nowrap" target="_self">{{ student.name }}</a>
    </div>
  </td>
  <td aria-colindex="2" role="cell" class="">{{ student.group }}</td>
  <td aria-colindex="3" role="cell" class="">
    <div class="text-nowrap">
      <span class="align-text-top text-capitalize">{{ student.ab }}</span>
    </div>
  </td>
  <td aria-colindex="4" role="cell" class="">{{ student.balance }}</td>
  <td aria-colindex="5" role="cell" class="">
    <span class="badge text-capitalize badge-light-success badge-pill">{{ student.status }}</span>
  </td>
  <td aria-colindex="6" role="cell" class="">
    <div class="dropdown b-dropdown btn-group">
      <button aria-haspopup="true" aria-expanded="false" type="button"
        class="btn dropdown-toggle btn-link dropdown-toggle-no-caret">
        {% include 'manager/svg_includes/triple_dot.html' %}
      </button>
      <ul role="menu" tabindex="-1" class="dropdown-menu" aria-labelledby="__BVID__3291__BV_toggle_">
        <li role="presentation">
          <a href="/apps/users/view/50" class="dropdown-item" role="menuitem" target="_self">
            {% include 'manager/svg_includes/user_svg.html' %}
            <span class="align-middle ml-50">Details</span>
          </a>
        </li>
        <li role="presentation">
          <a href="/apps/users/edit/50" class="dropdown-item" role="menuitem" target="_self">
            {% include 'manager/svg_includes/user_svg.html' %}
            <span class="align-middle ml-50">Edit</span>
          </a>
        </li>
        <li role="presentation">
          <a role="menuitem" href="#" target="_self" class="dropdown-item">
            {% include 'manager/svg_includes/user_svg.html' %}
            <span class="align-middle ml-50">Delete</span>
          </a>
        </li>
      </ul>
    </div>
  </td>
</tr>